<h2> Player 1: <%= @game.player1.name %> vs. Player 2: <%= @game.player2.name %> </h2>

<h3> <%= @game.current_player.name%>'s turn! </h3>
<h3> <%= @game.opponent.name %>'s HP: <%= @game.opponent.hp %> </h3>
<h3> <%= @game.current_player.name %>'s HP: <%= @game.current_player.hp %> </h3>


<form action="/attack">
  <input type="submit" value="Attack Opponent">
</form>
